body {
    background-color: black;
    color: white;
}

div.home {
    /* border: 2px solid red; */
    /* background-color: aqua; */
    width: 800px;
    margin: 80px;
    margin-left: 150px;
    height: 800px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

p {
    width: 600px;
    padding-left: 60px;
    word-spacing: 2px;
}

ul {
    margin-left: 230px;
}