body {
    background-color: black;
}

img {
    border-radius: 40%;
    margin-left: 140px;
    /* width: 250px;
    height: 250px; */
    margin-top: 40px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

div.h1 {
    margin-left: 450px;
    margin-top: -100px;
}

button {
    margin-left: 100px;
    /* size: 300px; */
    font-size: 25px;
    border-radius: 10px;
}

#btt {
    margin-left: 450px;
    margin-top: 90px;
}