
@media (orientation: landscape) {
    body { background-color:wheat; }
   }
   
   @media (orientation: portrait) {
    body { background-color: #dbc9b1 ; }
   }
   
 
 html{
    font-family: sans-serif;
 }
 
 body{
    overflow: scroll;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 100px 1500px 100px ;
    grid-template-columns: 1fr 1fr 0.5fr;
 }
 header{
     background-color: #b9a588;
     padding: 0;
     width: 100%;
     position: fixed;
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
        }
 *{
     margin: 0cm;
     padding: 0;
     box-sizing: border-box; 
 }
 main{
   background-color: #dbc9b1; 
   padding-top: 80px; 
   grid-column-start: 1;
   grid-column-end: span 2;
   grid-row-start: 2;
   grid-row-end: 3;
  
 }
 figure{
    background-color: #dbc9b1; 
   padding-top: 20px;
 }
 aside{
    background-color:#8D6E63;
    padding: 3em;
    padding-top:9em;
    grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   
 }
 footer{
    
    bottom:0;
    left:0;
    width: 100%;
    background-color: #e0d4c0; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
   
    }
 
 #footertext{
    display: inline;
    padding-top: 6em;
 }
 .icons{
   padding-right:40px;
   margin-top:20px;
   float:right;
 }
 
 .social {
    height: 35px;
    margin-left: 10px;
    margin-top:5px;
  }
 .social:hover {
    background: rgba(0, 0, 0, 0.5);
    font-size:40px;
    animation:cubic-bezier(0.5, 0.5, 0.175, 0);
  }
 
 #contaier {
    width: 80%;
    margin: 0;
 }
 header img{
    border-radius: 50%;
    padding: 5px;
 }
 
 
 nav{
    float: right;
    
    overflow: hidden;
    padding-top: 30;
 }
 nav ul{
    display: flex;
    margin: 0;
    
    list-style: none;
 }
 nav li{
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-top: 85px;
    
 }
 nav li a{
    text-transform: uppercase;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    color: #fff;
    font-family: "Gill Sans", sans-serif;
    font-weight: bolder;
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.11);
    }
    
 
 }
  nav ul li a:active {
     background-color: #04AA6D;
     color: white;
  }
 
 nav ul li a:hover{
    background-color: #ddd;
    color: rgb(0, 0, 0);
 }
 
 .all{
     text-decoration: none;
     float: right;
     padding: 0 10px;
     color: whitesmoke;
 }
 footer h5{
     display: inline-flex;
     text-decoration: underline;
     padding-top: 5em;
 
 }
 #right{
    align-self: flex-end;
    margin-left: 550px;
    
 }
 input[type=text], textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    background-color: rgb(208, 225, 231);
 }
 input[type=submit] {
    background-color: #1576d1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 input[type=submit]:hover {
    background-color: #1e21af;
    margin-left: 1em;
  }
 #nottobelabled{
    list-style: none;
 }
 #nottobelabled1{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
 
 }
 h2{
    margin-left: 2em;
    text-transform: uppercase;
 
 }
 .container {
    border: none;
    padding: 20px;
  }
  .row .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  .row::after {
    clear: both;
    display: table;
  }
 table{
     font-family: sans-serif;
     min-width: 400px;
     border-collapse: collapse;
     margin: 25px 30px;
     font-size: 0.9em;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 table thead tr{
    text-align: left;
    background-color: #7a7226;
     color: #ffffff;
     
 }
 table tbody tr {
    border-bottom: 1px solid #dddddd;
 }
 
 table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
 }
 
 table tbody tr:last-of-type {
    border-bottom:  2px solid #7a7226;
 }
 
 
  .proimg{
    display: inline-block;
     vertical-align: top;
     width: 46%;
 }
  .proj{
    display: inline-block;
     width: 46%;
     padding-left: 20px;
     padding-top: 40px;
   
 }
 .projects{
    margin-top: 60px ;
    margin-left:20px ;
    margin-right:20px ;
    padding: 1em;
    border: thick inset #0bc25d;
    border-radius: 1em;
 }
 #divskill{
    margin-top: 60px ;
    margin-left:20px ;
    margin-right:20px ;
    padding: 1em;
    border: thick inset #0c8eda;
    border-radius: 1em; 
 }
 
 .whole{
    margin-top: 20px;
    display: inline-flex;
    vertical-align: top;
    padding: 2em;
 }
 .homep{
    padding: 4em 2em;
    flex: 1;
   text-align: center;
 }
 .homeimg{
    flex: 1;
    height: 100%;
    padding-left: 1em;
 }
 
 .needed:after {
       display:inline;
       position: absolute;
       content:" * ";
       color: red;
 }
 
 .arrow{
    padding-top: 870px ;
    float: right;
    padding-right: 20px;
 }
 
 img{
    max-width: 100%;
    }